<ion-content>
  <header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin" mode="md" icon="arrow-round-back"></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: left">UnitSystems</ion-title>
    </ion-toolbar>
  </header>
  <div class="main-content">
    <ion-card>
      <p class="title">
        NEUER EINTRAG
      </p>
      <p class="light">Name</p>
      <ion-input class="light" [(ngModel)]="unitSystem.name"></ion-input>
      <p class="light">BaseUnit-ID</p>
      <ion-input class="light" [(ngModel)]="baseUnit.id"></ion-input>
      <ion-button class="big" (click)="addUnitSystem()">
        <ion-icon class="left" src="/assets/icons/add-circle-outline.svg"></ion-icon>
        HINZUFÜGEN
      </ion-button>
    </ion-card>
    <ion-card>
      <p class="title">
        UNIT HINZUFÜGEN
      </p>
      <p class="light">UnitSystem-ID</p>
      <ion-input class="light" [(ngModel)]="unitSystemId"></ion-input>
      <p class="light">Unit-ID</p>
      <ion-input class="light" [(ngModel)]="unit.id"></ion-input>
      <ion-button class="big" (click)="addUnitToUnitSystem()">
        <ion-icon class="left" src="/assets/icons/add-circle-outline.svg"></ion-icon>
        HINZUFÜGEN
      </ion-button>
    </ion-card>
    <ion-card>
      <p class="title">
        SPECIALUNIT HINZUFÜGEN
      </p>
      <p class="light">UnitSystem-ID</p>
      <ion-input class="light" [(ngModel)]="unitSystemId"></ion-input>
      <p class="light">SpecialUnit-ID</p>
      <ion-input class="light" [(ngModel)]="specialUnit.id"></ion-input>
      <ion-button class="big" (click)="addSpecialUnitToUnitSystem()">
        <ion-icon class="left" src="/assets/icons/add-circle-outline.svg"></ion-icon>
        HINZUFÜGEN
      </ion-button>
    </ion-card>
    <p style="margin-top: 25px; margin-bottom: 5px">
      ALLE EINTRÄGE
    </p>
    <ion-grid class="table">
      <ion-row class="header">
        <ion-col class="id header" size="1">
          ID
        </ion-col>
        <ion-col class="header">
          Name
        </ion-col>
        <ion-col class="header">
          BaseUnit
        </ion-col>
        <ion-col class="header">
          Units
        </ion-col>
        <ion-col class="header" size="2" size-sm="1">
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let unitSystem of unitSystems">
        <ion-col class="id" size="1">
          {{ unitSystem.id }}
        </ion-col>
        <ion-col>
          {{ unitSystem.name }}
        </ion-col>
        <ion-col>
          {{ unitSystem.baseUnit.id }}
        </ion-col>
        <ion-col>
          {{ unitSystem.units.join(";") }}
        </ion-col>
        <ion-col size="2" size-sm="1">
          <ion-button icon-only fill="clear" shape="round" (click)="removeUnitSystem(unitSystem.id)">
            <ion-icon name="trash" mode="md" color="medium"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
          
        