<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon src="/assets/icons/home.svg"></ion-icon>
        <ion-label>HOME</ion-label>
      </ion-tab-button>
  
      <ion-tab-button href="shopping-list">
        <ion-icon src="/assets/icons/add.svg"></ion-icon>
        <ion-label>NEUE LISTE</ion-label>
      </ion-tab-button>
    
      <ion-tab-button tab="shopping-lists">
        <ion-icon src="/assets/icons/cart.svg"></ion-icon>
        <ion-label>EINKÄUFE</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
