<ion-content>
    <header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/admin" mode="md" icon="arrow-round-back"></ion-back-button>
        </ion-buttons>
        <ion-title style="text-align: left">Locations</ion-title>
      </ion-toolbar>
    </header>
    <div class="main-content">
      <ion-card>
        <p class="title">
          NEUER EINTRAG
        </p>
        <p class="light">Lat</p>
        <ion-input class="light" [(ngModel)]="location.lat"></ion-input>
        <p class="light">Lng</p>
        <ion-input class="light" [(ngModel)]="location.lng"></ion-input>
        <ion-button class="big" (click)="addLocation()">
          <ion-icon class="left" src="/assets/icons/add-circle-outline.svg"></ion-icon>
          HINZUFÜGEN
        </ion-button>
      </ion-card>
      <p style="margin-top: 25px; margin-bottom: 5px">
        ALLE EINTRÄGE
      </p>
      <ion-grid class="table">
        <ion-row class="header">
          <ion-col class="id header" size="1">
            ID
          </ion-col>
          <ion-col class="header">
            Lat
          </ion-col>
          <ion-col class="header">
            Lng
          </ion-col>
          <ion-col class="header" size="2" size-sm="1">
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let location of locations">
          <ion-col class="id" size="1">
            {{ location.id }}
          </ion-col>
          <ion-col>
            {{ location.lat }}
          </ion-col>
          <ion-col>
            {{ location.lng }}
          </ion-col>
          <ion-col size="2" size-sm="1">
            <ion-button icon-only fill="clear" shape="round" (click)="removeLocation(location.id)">
              <ion-icon name="trash" mode="md" color="medium"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
    
  