.footer-view {
    color: black;
    margin: 0;
    border-radius: 1em 1em 0 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.11);
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer-view p.light {

    color: var(--ion-color-medium);
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    margin-bottom: 3px;

}

.footer-view ion-button {

    align-self: center;
    margin-top: 10px;

}

ion-toolbar {

    border-radius: 30px;

}

ion-toolbar .wrapper {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

ion-toolbar .wrapper .list-info {

    align-items: center;
    flex-grow: 2;
    display: flex;
    flex-direction: row;

}

ion-toolbar .wrapper .list-info > div {

    display: flex;
    align-items: flex-start;
    margin-right: 20px;
    flex-direction: column;

}

ion-toolbar .wrapper .list-info p {

    margin: 0;
    font-weight: 500;

}

ion-toolbar  p.white {

    font-weight: 400;
    font-size: 12px;
    margin: 0;
    margin-bottom: 3px;

}

ion-toolbar ion-button {

    --background: none;
    --box-shadow: none;
    --background-hover: none;
    --background-focused: none;
    margin: 0;
    padding: 0;

}

ion-toolbar ion-button ion-icon {

    margin: 0;
    padding: 0;

}

ion-toolbar .list-additional-info {

    padding: 20px;
    padding-top: 0px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

ion-toolbar .list-additional-info ion-input, ion-toolbar .list-additional-info ion-datetime {

    margin-bottom: 8px;

}

.entry {

    border: 1px solid var(--ion-color-light);
    --background: white;
    --box-shadow: none;
    color: black;
    border-radius: 5px;
    width: calc(100% - 30px);
    --background-hover: white;
    --background-focused: white;
    min-height: 45px;
    margin-left: 15px;
    margin-right: 15px;

}

.entry .wrapper {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-transform: initial;
    align-content: flex-start;

}

.entry .wrapper .name {

    flex-grow: 2;
    text-align: start;
    font-weight: 500;
    font-size: 14px;

}

.suggestions {

    width: 100%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;

}

.entry.suggestion {

    border: 1px solid var(--ion-color-secondary);
    margin: 0;
    width: 100%;

}

.entry.suggestion ion-icon {

    font-size: 24px;
    margin-left: 15px;

}

.entry.suggestion .wrapper p {

    float: left;
    margin-right: 5px;

}