
<ion-content>
  <header>
    <ion-toolbar>
      <div class="wrapper">
        <ion-buttons style="margin-left: 4px">
          <ion-back-button defaultHref="/" mode="md" icon="arrow-round-back"></ion-back-button>
        </ion-buttons>
        <div class="list-info">
          <div>
            <p class="white">PREIS</p>
            <p>{{ prize }} €</p>
          </div>
          <div>
            <p class="white">PRODUKTE</p>
            <p>{{ getProductCount() }}</p>
          </div>
        </div>
        <ion-button shape="round" icon-only size="large" (click)="toggleDetails()">
          <ng-template [ngIf]="showDetails" [ngIfElse]="arrowUp">
            <ion-icon src="/assets/icons/arrow-down.svg"></ion-icon>
          </ng-template>
          <ng-template #arrowUp>
            <ion-icon src="/assets/icons/arrow-up.svg"></ion-icon>
          </ng-template>
        </ion-button>
      </div>
      <ng-template [ngIf]="showDetails">
        <div class="list-additional-info">
          <p class="white">NAME</p>
          <ion-input class="light" [(ngModel)]="shoppingList.name"></ion-input>
          <p class="white">DATUM</p>
          <ion-datetime class="light" displayFormat="DD.MM.YYYY" [(ngModel)]="shoppingList.date"></ion-datetime>
          <div style="display: flex; flex-direction: row;align-items: center">
            <ion-toggle color="success" [(ngModel)]="shoppingList.pinned"></ion-toggle>
            <ion-label class="white" style="vertical-align: middle">Angeheftet</ion-label>
          </div>
        </div>
      </ng-template>
    </ion-toolbar>
  </header>
  <div class="main-content">
    <ion-button *ngFor="let entry of shoppingList.entries" class="entry" start>
      <div class="wrapper">
        <p class="name">{{ getEntryName(entry) }}</p>
        <p class="prize" *ngIf="getEntryPrize(entry) > 0">{{ getEntryPrize(entry) }}</p>
      </div>
      <ion-button icon-only fill="clear" (click)="removeEntry(entry)">
        <ion-icon name="trash" mode="md" color="medium"></ion-icon>
      </ion-button>
    </ion-button>
  </div>
</ion-content>
<ion-footer no-border>
  <div class="footer-view">
    <p class="light">NEUER EINTRAG</p>
    <ion-input class="light" (ionChange)="entryInputChanged()" [(ngModel)]="entryInput"></ion-input>
    <div style="width: 100%">
      <ion-button class="big" (click)="addEntry()">
        <ion-icon class="left" src="/assets/icons/add-circle-outline.svg"></ion-icon>
        HINZUFÜGEN
      </ion-button>
      <ion-button class="big" style="float: right" (click)="saveShoppingList()">
        <ion-icon class="left" name="save"></ion-icon>
        SPEICHERN
      </ion-button>
    </div>
    <div *ngIf="suggestions.length > 0" class="suggestions">
      <p class="light">VORSCHLÄGE</p>
      <ion-button *ngFor="let suggestion of suggestions" class="entry suggestion" (click)="addProduct(suggestion)">
        <div class="wrapper">
          <p class="amount">{{ suggestion.amount }}</p>
          <p class="unit">{{ getUnitName(suggestion) }}</p>
          <p class="name">{{ getProductName(suggestion) }}</p>
          <p class="prize" *ngIf="getProductEntryPrize(suggestion) > 0">{{ getProductEntryPrize(suggestion) }}</p>
          <ion-icon src="/assets/icons/arrow-forward.svg"></ion-icon>
        </div>
      </ion-button>
    </div>
  </div>
</ion-footer>
  