<ion-content>
  <header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin" mode="md" icon="arrow-round-back"></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: left">Units</ion-title>
    </ion-toolbar>
  </header>
  <div class="main-content">
    <ion-card>
      <p class="title">
        NEUER EINTRAG
      </p>
      <p class="light">Bevorzugter Name (ID)</p>
      <ion-input class="light" [(ngModel)]="unit.preferedName.id"></ion-input>
      <p class="light">FactorToBaseUnit</p>
      <ion-input class="light" [(ngModel)]="unit.factorToBaseUnit"></ion-input>
      <p class="light">Weitere Namen/Bezeichnungen (Ids)</p>
      <ion-input class="light" [(ngModel)]="nameIds"></ion-input>
      <ion-button class="big" (click)="addUnit()">
        <ion-icon class="left" src="/assets/icons/add-circle-outline.svg"></ion-icon>
        HINZUFÜGEN
      </ion-button>
    </ion-card>
    <p style="margin-top: 25px; margin-bottom: 5px">
      ALLE EINTRÄGE
    </p>
    <ion-grid class="table">
      <ion-row class="header">
        <ion-col class="id header" size="1">
          ID
        </ion-col>
        <ion-col class="header">
          Bevorzugeter Name
        </ion-col>
        <ion-col class="header">
          FactorToBaseUnit
        </ion-col>
        <ion-col class="header">
          Weitere Namen
        </ion-col>
        <ion-col class="header" size="2" size-sm="1">
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let unit of units">
        <ion-col class="id" size="1">
          {{ unit.id }}
        </ion-col>
        <ion-col>
          {{ unit.preferedName.singular }}
        </ion-col>
        <ion-col>
          {{ unit.factorToBaseUnit }}
        </ion-col>
        <ion-col>
          {{ unit.names.join(";") }}
        </ion-col>
        <ion-col size="2" size-sm="1">
          <ion-button icon-only fill="clear" shape="round" (click)="removeUnit(unit.id)">
            <ion-icon name="trash" mode="md" color="medium"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
          
        