.main-tile {

    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.11);
    width: calc(100%);
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 25px;

}

.main-tile .main-icon {

    font-size: 24px;
    fill: white;

}

.main-tile .sidebar {

    margin-right: 1em;

}

.main-tile .sidebar .wrapper {

    background-color: var(--ion-color-secondary);
    border-radius: 0 100em 100em 0;
    padding: 7px;
    padding-right: 10px;

}

.main-tile .content {

    flex-grow: 2;
    padding-right: 1.5em;
    display: flex;
    flex-direction: column;

}

.main-tile .content .row {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;

}

.main-tile .content .row p, 
.main-tile .content .row h2 {

    width: auto;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.main-tile .content .row p.light {

    color: var(--ion-color-medium);
    font-weight: 600;
    font-size: 12px;

}

.main-tile .content .row h2 {

    font-weight: 600;
    font-size: 20px;

}

.main-tile .info ion-icon {

    font-size: 24px;
    margin-right: 5px;

}

.main-tile .opening-hours {

    flex-direction: column !important;

}

.main-tile .opening-hours > div {

    width: 100%;
    margin-bottom: 5px;
    flex-direction: row;

}

.main-tile .opening-hours > div .weekday {

    float: left;

}

.main-tile .opening-hours > div .time {

    float: right;

}


.main-tile .title-bar div {

    float: left !important;
    flex-grow: 2 !important;

}


.main-tile .title-bar .edit {

    float: right !important;

}

.lists {

    display: flex;
    flex-direction: row;

}

.list {

    border: 1px solid var(--ion-color-light);
    border-radius: 8px;
    padding: 0.5em;
    width: 100%;
    margin-right: 20px;

}

.list .row:first-of-type {

    justify-content: space-between;

}

.list .title {

    padding-right: 8px !important;
    border-right: 1px solid var(--ion-color-light);
    float: left;

}

.list .product-count {

    float: right;

}

.list .row {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;

}

.list ion-icon {

    margin-right: 5px;
    font-size: 24px;

}

.list .date {

    flex-grow: 2;

}