<ion-content>
  <ion-header>
    <header>
      <ion-toolbar>
        <ion-title>INEZ</ion-title>
      </ion-toolbar>
    </header>
  </ion-header>
  <div class="main-content">
    <div class="main-tile">
      <div class="sidebar">
        <div class="wrapper">
          <ion-icon src="/assets/icons/cart.svg" class="main-icon"></ion-icon>
        </div>
      </div>
      <div class="content">
        <div class="title-bar row">
          <div>
            <p class="light">ANSTEHENDE EINKÄUFE</p>
          </div>
        </div>
        <div class="row lists" *ngFor="let shoppingList of comingShoppingLists">
          <div class="list" (click)="toDetailedShoppingList(shoppingList)">
            <div class="row">
              <h2 class="title">{{ shoppingList.name != undefined && shoppingList.name != "" ? shoppingList.name : "Einkauf" }}</h2>
              <p class="product-count">{{ shoppingList.entries.length }} Einträge</p>
            </div>
            <div class="row">
              <ion-icon src="/assets/icons/calendar.svg"></ion-icon>
              <p class="date">{{ getFormattedDate(shoppingList) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-tile">
      <div class="sidebar">
        <div class="wrapper">
          <ion-icon mode="md" name="key" class="main-icon"></ion-icon>
        </div>
      </div>
      <div class="content">
        <div class="title-bar row">
          <div>
            <p class="light">ADMINISTRATION</p>
          </div>
        </div>
        <div class="row">
          <ion-button class="big" href="admin">
            DETAILS
            <ion-icon class="right" mode="md" name="arrow-round-forward"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer no-border>
  <coming-shopping></coming-shopping>
</ion-footer>
