<ion-content>
  <header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin" mode="md" icon="arrow-round-back"></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: left">Numerals</ion-title>
    </ion-toolbar>
  </header>
  <div class="main-content">
    <ion-card>
      <p class="title">
        NEUER EINTRAG
      </p>
      <p class="light">Numeric Value</p>
      <ion-input class="light" [(ngModel)]="numeral.numericValue"></ion-input>
      <p class="light">Namen/Synoynme</p>
      <ion-input class="light" [(ngModel)]="stringValues" placeholder="<Name>;<Name>;..."></ion-input>
      <ion-button class="big" (click)="addNumeral()">
        <ion-icon class="left" src="/assets/icons/add-circle-outline.svg"></ion-icon>
        HINZUFÜGEN
      </ion-button>
    </ion-card>
    <p style="margin-top: 25px; margin-bottom: 5px">
      ALLE EINTRÄGE
    </p>
    <ion-grid class="table">
      <ion-row class="header">
        <ion-col class="id header" size="1">
          ID
        </ion-col>
        <ion-col class="header">
          NumericValue
        </ion-col>
        <ion-col class="header">
          StringValues
        </ion-col>
        <ion-col class="header" size="2" size-sm="1">
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let numeral of numerals">
        <ion-col class="id" size="1">
          {{ numeral.id }}
        </ion-col>
        <ion-col>
          {{ numeral.numericValue }}
        </ion-col>
        <ion-col>
          {{ numeral.stringValues }}
        </ion-col>
        <ion-col size="2" size-sm="1">
          <ion-button icon-only fill="clear" shape="round" (click)="removeNumeral(numeral.id)">
            <ion-icon name="trash" mode="md" color="medium"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
        
      