<ion-content>
  <header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" mode="md" icon="arrow-round-back"></ion-back-button>
      </ion-buttons>
      <ion-title style="margin-left: -50px">Einkäufe</ion-title>
    </ion-toolbar>
  </header>
  <div class="main-content">
    <ng-template [ngIf]="comingShoppingLists.length > 0">
      <p class="days-left-in">IN</p>
      <div class="shopping-lists">
        <div *ngFor="let shoppinglist of comingShoppingLists" class="shopping-list-wrapper">
          <div class="sidebar">
            <div class="line"></div>
            <p class="days-left">
              {{ getRemainingDays(shoppinglist) }}
            </p>
            <div class="line"></div>
          </div>
          <div class="shopping-list">
            <div>
              <div class="header">
                <div>
                  <p class="title">{{ shoppinglist.name != undefined && shoppinglist.name != "" ? shoppinglist.name : "Wocheneinkauf" }}</p>
                  <div class="sep"></div>
                  <p *ngIf="shoppinglist.prize > 0" class="prize">{{ shoppinglist.prize }}</p>
                </div>
              </div>
              <div *ngIf="shoppinglist.date != null" class="content">
                <p class="light">DATUM</p>
                <p>{{ getFormattedDate(shoppinglist.date) }}</p>
              </div>
            </div>
            <div style="display: flex; flex-direction: column">
              <ion-button class="big" (click)="toDetailedShoppingList(shoppinglist)">
                DETAILS
                <ion-icon class="right" mode="md" name="arrow-round-forward"></ion-icon>
              </ion-button>
              <ion-button class="big" (click)="removeShoppingList(shoppinglist)">
                LÖSCHEN
                <ion-icon class="right" mode="md" name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
      <p class="days-left-days">TAGEN</p>
    </ng-template>
    <div class="content-wrapper">
      <ng-template [ngIf]="undatedShoppingLists.length > 0">
        <h3>Undatierte Einkäufe</h3>
        <div *ngFor="let shoppinglist of undatedShoppingLists" class="shopping-list">
          <div>
            <div class="header">
              <div>
                <p class="title">{{ shoppinglist.name != undefined && shoppinglist.name != "" ? shoppinglist.name : "Wocheneinkauf" }}</p>
                <div class="sep"></div>
                <p *ngIf="shoppinglist.prize > 0" class="prize">{{ shoppinglist.prize }}</p>
              </div>
            </div>
            <div style="display: flex; flex-direction: row;margin-top: 15px">
              <ion-button class="big" (click)="toDetailedShoppingList(shoppinglist)" style="margin-right: 10px">
                DETAILS
                <ion-icon class="right" mode="md" name="arrow-round-forward"></ion-icon>
              </ion-button>
              <ion-button class="big" (click)="removeShoppingList(shoppinglist)">
                LÖSCHEN
                <ion-icon class="right" mode="md" name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template [ngIf]="expiredShoppingLists.length > 0">
        <h3>Abgelaufene Einkäufe</h3>
        <div *ngFor="let shoppinglist of expiredShoppingLists" class="shopping-list">
          <div>
            <div class="header">
              <div>
                <p class="title">{{ shoppinglist.name != undefined && shoppinglist.name != "" ? shoppinglist.name : "Wocheneinkauf" }}</p>
                <div class="sep"></div>
                <p *ngIf="shoppinglist.prize > 0" class="prize">{{ shoppinglist.prize }}</p>
              </div>
            </div>
            <div style="display: flex; flex-direction: row;margin-top: 15px">
              <ion-button class="big" (click)="toDetailedShoppingList(shoppinglist)" style="margin-right: 10px">
                DETAILS
                <ion-icon class="right" mode="md" name="arrow-round-forward"></ion-icon>
              </ion-button>
              <ion-button class="big" (click)="removeShoppingList(shoppinglist)">
                LÖSCHEN
                <ion-icon class="right" mode="md" name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <ng-template [ngIf]="undatedShoppingLists.length == 0 && comingShoppingLists.length == 0 && expiredShoppingLists.length == 0">
      Keine Einkäufe gefunden.
    </ng-template>
  </div>
</ion-content>
<ion-footer no-border>
  <coming-shopping></coming-shopping>
</ion-footer>