.coming-shopping {
    color: black;
    margin: 0;
    --border-radius: 1em 1em 0 0;
    --background: white;
    width: 100%;
    --box-shadow: 0 0 10px 2px rgba(0,0,0,0.11);
    height: 55px;
    --background-hover: white;
    --background-focused: white;
    --padding-start: 5px;
    --padding-end: 5px;

}

.coming-shopping ion-icon {

    font-size: 16px;
    margin-right: 5px;

}

.coming-shopping > div {

    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

}

.coming-shopping > div ion-icon {

    flex-grow: 1;

}

.coming-shopping > div > div {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.coming-shopping > div > div ion-text:first-child {

    font-size: 10px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 3px;

}

.coming-shopping > div > div ion-text:last-child {

    font-size: 14px;
    font-weight: 600;
    color: black;
    text-transform: capitalize;

}

.coming-shopping .side {

    align-self: flex-end;
    flex-grow: 1;

}

.coming-shopping .main {

    flex-grow: 4;

}

.shopping-lists {

    padding-left: 35px;
    padding-right: 20px;

}

.shopping-list-wrapper {

    display: flex;
    flex-direction: row;

}

.line {

    width: 1px;
    height: 100%;
    background-color: var(--ion-color-secondary);

}

.sep {

    height: 1px;
    width: 20px;
    background-color: var(--ion-color-secondary);
    margin-top: 3px;
    margin-bottom: 3px;

}

.shopping-list-wrapper .sidebar {
    
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.shopping-list {

    border: 1px solid var(--ion-color-light);
    border-radius: 5px;
    flex-grow: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;

}

.shopping-list div:first-of-type {

    flex-grow: 2;

}

.days-left {

    font-size: 13px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 7px;

}

.days-left-in, .days-left-days {

    color: var(--ion-color-secondary);
    text-align: center;
    width: 80px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 7px;

}

.shopping-list p {

    margin: 0;

}

.shopping-list .header {

    display: flex;
    flex-direction: row;

}

.shopping-list .header > div {

    flex-grow: 2;
    display: flex;
    flex-direction: column;

}

.shopping-list .header .title {

    font-size: 16px;
    font-weight: 500;

}

.shopping-list .header .prize {

    font-size: 14px;
    font-weight: 700;
    color: var(--ion-color-secondary);

}

.shopping-list .content {

    margin-top: 15px;

}

.shopping-list p.light {

    font-size: 10px !important;
    font-weight: 500;

}

.shopping-list .content p {

    font-size: 14px;

}