<ion-content>
  <header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin" mode="md" icon="arrow-round-back"></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: left">Products</ion-title>
    </ion-toolbar>
  </header>
  <div class="main-content">
    <ion-card>
      <p class="title">
        NEUES PRODUKT
      </p>
      <p class="light">Bevorzugter Produktname</p>
      <ion-input class="light" [(ngModel)]="product.preferedName.id" placeholder="ID des Produktnamens"></ion-input>
      <p class="light">Synonyme</p>
      <ion-input class="light" [(ngModel)]="synonyms" placeholder="IDs der Produktnamens: <ID>;<ID>;..."></ion-input>
      <p class="light">ProductGroup-ID</p>
      <ion-input class="light" [(ngModel)]="productGroup.id"></ion-input>
      <p class="light">UnitSystem-ID</p>
      <ion-input class="light" [(ngModel)]="unitSystem.id"></ion-input>
      <ion-button class="big" (click)="addProduct()">
        <ion-icon class="left" src="/assets/icons/add-circle-outline.svg"></ion-icon>
        HINZUFÜGEN
      </ion-button>
    </ion-card>
    <p style="margin-top: 25px; margin-bottom: 5px">
      ALLE EINTRÄGE
    </p>
    <ion-grid class="table">
      <ion-row class="header">
        <ion-col class="id header" size="1">
          ID
        </ion-col>
        <ion-col class="header">
          Bevorzuger Name
        </ion-col>
        <ion-col class="header">
          ProductGroup-ID
        </ion-col>
        <ion-col class="header">
          UnitSystem-ID
        </ion-col>
        <ion-col class="header">
          Synonyme
        </ion-col>
        <ion-col class="header" size="2" size-sm="1">
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let product of products">
        <ion-col class="id" size="1">
          {{ product.id }}
        </ion-col>
        <ion-col>
          {{ product.preferedName.singular }}
        </ion-col>
        <ion-col>
          {{ product.productGroup.id }}
        </ion-col>
        <ion-col>
          {{ product.unitSystem != null ? product.unitSystem.id : "Kein UnitSystem" }}
        </ion-col>
        <ion-col>
          {{ product.synonyms.join(";") }}
        </ion-col>
        <ion-col size="2" size-sm="1">
          <ion-button icon-only fill="clear" shape="round" (click)="removeProduct(product.id)">
            <ion-icon name="trash" mode="md" color="medium"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
      
    