<ion-content>
  <header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" mode="md" icon="arrow-round-back"></ion-back-button>
      </ion-buttons>
      <ion-title style="margin-left: -60px">Admin</ion-title>
    </ion-toolbar>
  </header>
  <div class="main-content">
    <p class="light">
      DB-TABELLEN
    </p>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="3" size-lg="2">
          <ion-button href="admin/branches"color="primary" expand="full">Branches</ion-button>
        </ion-col>
        <ion-col size="12" size-md="3" size-lg="2">
          <ion-button href="admin/groups"color="primary" expand="full">ProductGroups</ion-button>
        </ion-col>
        <ion-col size="12" size-md="3" size-lg="2">
          <ion-button href="admin/listed-products"color="primary" expand="full">ListedProducts</ion-button>
        </ion-col>
        <ion-col size="12" size-md="3" size-lg="2">
          <ion-button href="admin/locations"color="primary" expand="full">Locations</ion-button>
        </ion-col>
        <ion-col size="12" size-md="3" size-lg="2">
          <ion-button href="admin/products"color="primary" expand="full">Products</ion-button>
        </ion-col>
        <ion-col size="12" size-md="3" size-lg="2">
          <ion-button href="admin/units"color="primary" expand="full">Units</ion-button>
        </ion-col>    
        <ion-col size="12" size-md="3" size-lg="2">
          <ion-button href="admin/unitSystems"color="primary" expand="full">UnitSystems</ion-button>
        </ion-col>   
        <ion-col size="12" size-md="3" size-lg="2">
          <ion-button href="admin/names"color="primary" expand="full">Names</ion-button>
        </ion-col>      
        <ion-col size="12" size-md="3" size-lg="2">
          <ion-button href="admin/numerals"color="primary" expand="full">Numerals</ion-button>
        </ion-col>  
      </ion-row>
    </ion-grid>
    <p class="title">
      INFOS
    </p>
    <p class="light">User ID</p>
    <p>{{ userId }}</p>
    <p class="light">Server IP (inkl. Port)</p>
    <ion-input class="light" [(ngModel)]="serverIp" (ionChange)="updateServerIP()" placeholder="<ServerIP>:<Port>"></ion-input>
  </div>
</ion-content>
