.main-content {

    padding: 10px;
    padding-top: 0;

}

p.light {

    font-size: 12px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 3px;
    margin-top: 5px;

}

ion-button {

    text-transform: initial;

}

ion-card {

    padding: 10px;
    display: flex;
    flex-direction: column;

}

ion-card .title {

    margin-top: 0;
    margin-bottom: 5px;

}

ion-button.big {

    margin-top: 15px;
    align-self: center;

}

.table ion-row.header {

    border-bottom: 1px solid var(--ion-color-primary);

}

.table ion-row {

    border-bottom: 1px solid var(--ion-color-light);

}

.table ion-col {

    border-left: 1px solid var(--ion-color-light);
    display: flex;
    align-items: center;
    font-size: 12px;

}

.table ion-row ion-col:first-of-type, .table ion-row ion-col:last-of-type {

    border-left: none;

}

.table ion-col ion-button {

    margin: 0;
    --padding-start: 9px;
    --padding-end: 9px;

}

.table ion-col:last-of-type {

    justify-content: flex-end;

}

@media(min-width: 700px) {

    

    .main-content ion-card {

        width: 400px;
        float: left;
        margin-right: 30px;

    }

}