<ion-content>
    <header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/admin" mode="md" icon="arrow-round-back"></ion-back-button>
        </ion-buttons>
        <ion-title style="text-align: left">ListedProducts</ion-title>
      </ion-toolbar>
    </header>
    <div class="main-content">
      <ion-card>
        <p class="title">
          NEUER EINTRAG
        </p>
        <p class="light">Bevorzugeter Produktnamen ID</p>
        <ion-input class="light" [(ngModel)]="listedProduct.preferedName.id"></ion-input>
        <p class="light">ProductGroup-ID</p>
        <ion-input class="light" [(ngModel)]="productGroup.id"></ion-input>
        <p class="light">UnitSystem-ID</p>
        <ion-input class="light" [(ngModel)]="unitSystem.id"></ion-input>
        <p class="light">Synoynme</p>
        <ion-input class="light" [(ngModel)]="synonyms"></ion-input>
        <p class="light">Preis</p>
        <ion-input class="light" [(ngModel)]="listedProduct.prize"></ion-input>
        <ion-button class="big" (click)="addListedProduct()">
          <ion-icon class="left" src="/assets/icons/add-circle-outline.svg"></ion-icon>
          HINZUFÜGEN
        </ion-button>
      </ion-card>
      <p style="margin-top: 25px; margin-bottom: 5px">
        ALLE EINTRÄGE
      </p>
      <ion-grid class="table">
        <ion-row class="header">
          <ion-col class="id header" size="1">
            ID
          </ion-col>
          <ion-col class="header">
            Bevorzuger Name
          </ion-col>
          <ion-col class="header">
            ProductGroup-ID
          </ion-col>
          <ion-col class="header">
            UnitSystem-ID
          </ion-col>
          <ion-col class="header">
            Synonyme
          </ion-col>
          <ion-col class="header">
            Preis
          </ion-col>
          <ion-col class="header" size="2" size-sm="1">
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let listedProduct of listedProducts">
          <ion-col class="id" size="1">
            {{ listedProduct.id }}
          </ion-col>
          <ion-col>
            {{ listedProduct.preferedName.singular }}
          </ion-col>
          <ion-col>
            {{ listedProduct.productGroup.id }}
          </ion-col>
          <ion-col>
            {{ listedProduct.unitSystem != null ? listedProduct.unitSystem.id : "Kein UnitSystem" }}
          </ion-col>
          <ion-col>
            {{ listedProduct.synonyms }}
          </ion-col>
          <ion-col>
            {{ listedProduct.prize }}
          </ion-col>
          <ion-col size="2" size-sm="1">
            <ion-button icon-only fill="clear" shape="round" (click)="removeListedProduct(listedProduct.id)">
              <ion-icon name="trash" mode="md" color="medium"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
    
  