/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-label {

    font-weight: 600;
    font-size: 1em;
    
}

ion-toolbar {


    border-radius: 100em;
    color: white;
    text-align: center;
    --background: linear-gradient(135deg, #0DA5E8, #0B33A2);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.11);

}

ion-title {

    font-weight: bold;
    font-size: 1.5em;

}

ion-content .main-content {

    margin-top: 90px !important;

}

ion-content header {

    background: linear-gradient(180deg, white, white, rgba(0,0,0,0));
    padding: 1em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

}
ion-input, ion-datetime {

    border-radius: 5px;
    border: 1px solid white;
    text-align: left;

}

ion-datetime {

    width: 100%;
    padding-left: 10px;

}

ion-input.light {

    border-color: var(--ion-color-light);

}

ion-button.big {

    --border-radius: 100px;
    --background: linear-gradient(135deg, #0DA5E8, #0B33A2);
    font-weight: 600;

}

ion-button.big ion-icon.right {

    margin-left: 5px;

}

ion-button.big ion-icon.left {

    margin-right: 5px;

}

ion-content {

    --background: #F9F9F9;

}

p.light {

    color: var(--ion-color-medium);

}

header {

    position: fixed;
    width: calc(100% - 40px);

}

.sep.vertical {

    width: 2px;
    background-color: white;
    height: 30px;
    border-radius: 20px;

}

.content-wrapper {

    padding: 20px;

}