<ion-content>
  <header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin" mode="md" icon="arrow-round-back"></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: left">Branches</ion-title>
    </ion-toolbar>
  </header>
  <div class="main-content">
    <ion-card>
      <p class="title">
        NEUER EINTRAG
      </p>
      <p class="light">Filialenname</p>
      <ion-input class="light" [(ngModel)]="branchName"></ion-input>
      <fieldset>
        <legend>Location</legend>
        <p class="light">Lat</p>
        <ion-input class="light" [(ngModel)]="location.lat"></ion-input>
        <p class="light">Lng</p>
        <ion-input class="light" [(ngModel)]="location.lng"></ion-input>
      </fieldset>
      <fieldset>
        <legend>Structure</legend>
        <p class="light">Groups</p>
        <ion-input class="light" [(ngModel)]="groups"></ion-input>
      </fieldset>
      <ion-button (click)="addBranch()" class="big">
        <ion-icon class="left" src="/assets/icons/add-circle-outline.svg"></ion-icon>
        HINZUFÜGEN
      </ion-button>
    </ion-card>
    <p style="margin-top: 25px; margin-bottom: 5px">
      ALLE EINTRÄGE
    </p>
    <ion-grid class="table">
      <ion-row class="header">
        <ion-col class="id header" size="1">
          ID
        </ion-col>
        <ion-col class="header">
          Filialenname
        </ion-col>
        <ion-col class="header">
          Location-ID
        </ion-col>
        <ion-col class="header">
          Structure-ID
        </ion-col>
        <ion-col class="header">
            GroupsAmount
          </ion-col>
        <ion-col class="header" size="2" size-sm="1">
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let branch of branches">
        <ion-col class="id" size="1">
          {{ branch.id }}
        </ion-col>
        <ion-col>
          {{ branch.name }}
        </ion-col>
        <ion-col>
          {{ branch.location.id }}
        </ion-col>
        <ion-col>
          {{ branch.structure.id }}
        </ion-col>
        <ion-col>
          {{ branch.structure.orderedGrouping.orderedGroups.length }}
        </ion-col>
        <ion-col size="2" size-sm="1">
          <ion-button icon-only fill="clear" shape="round" (click)="removeBranch(branch.id)">
            <ion-icon name="trash" mode="md" color="medium"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
  
