.coming-shopping {
    color: black;
    margin: 0;
    --border-radius: 1em 1em 0 0;
    --background: white;
    width: 100%;
    --box-shadow: 0 0 10px 2px rgba(0,0,0,0.11);
    height: 55px;
    --background-hover: white;
    --background-focused: white;
    --padding-start: 5px;
    --padding-end: 5px;

}

.coming-shopping ion-icon {

    font-size: 16px;
    margin-right: 5px;

}

.coming-shopping > div {

    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

}

.coming-shopping > div ion-icon {

    flex-grow: 1;

}

.coming-shopping > div > div {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.coming-shopping > div > div ion-text:first-child {

    font-size: 10px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 3px;

}

.coming-shopping > div > div ion-text:last-child {

    font-size: 14px;
    font-weight: 600;
    color: black;
    text-transform: capitalize;

}

.coming-shopping .side {

    align-self: flex-end;
    flex-grow: 1;

}

.coming-shopping .main {

    flex-grow: 4;

}