<ng-template [ngIf]="pinnedShoppingList != null && pinnedShoppingList != undefined">
  <ion-button class="coming-shopping" (click)="toDetailedShoppingList()">
    <div>
      <ion-icon src="/assets/icons/chevrons-up.svg"></ion-icon>
      <div class="main">
        <ion-text color="medium">
          Anstehender Einkauf
        </ion-text>
        <ion-text>
          {{ pinnedShoppingList.name != undefined && pinnedShoppingList.name != "" ? pinnedShoppingList.name : "Einkauf" }}
        </ion-text>
      </div>
      <ion-icon src="/assets/icons/calendar.svg" style="font-size: 24px"></ion-icon>
      <div class="side">
        <ion-text color="medium">
          {{ getFormattedDate(pinnedShoppingList) }}
        </ion-text>
        <ng-template [ngIf]="getRemainingDays(pinnedShoppingList) > 0" [ngIfElse]="today">
          <ion-text>
            in {{ getRemainingDays(pinnedShoppingList) }} Tagen
          </ion-text>
        </ng-template>
        <ng-template #today><ion-text>HEUTE</ion-text></ng-template>
      </div>
    </div>
  </ion-button>
</ng-template>
