<ion-content>
  <header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin" mode="md" icon="arrow-round-back"></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: left">Names</ion-title>
    </ion-toolbar>
  </header>
  <div class="main-content">
    <ion-card>
      <p class="title">
        NEUER name
      </p>
      <p class="light">Singular</p>
      <ion-input class="light" [(ngModel)]="name.singular"></ion-input>
      <p class="light">Plural</p>
      <ion-input class="light" [(ngModel)]="name.plural"></ion-input>
      <ion-button class="big" (click)="addName()">
        <ion-icon class="left" src="/assets/icons/add-circle-outline.svg"></ion-icon>
        HINZUFÜGEN
      </ion-button>
    </ion-card>
    <p style="margin-top: 25px; margin-bottom: 5px">
      ALLE EINTRÄGE
    </p>
    <ion-grid class="table">
      <ion-row class="header">
        <ion-col class="id header" size="1">
          ID
        </ion-col>
        <ion-col class="header">
          Singular
        </ion-col>
        <ion-col class="header">
          Plural
        </ion-col>
        <ion-col class="header" size="2" size-sm="1">
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let name of names">
        <ion-col class="id" size="1">
          {{ name.id }}
        </ion-col>
        <ion-col>
          {{ name.singular }}
        </ion-col>
        <ion-col>
          {{ name.plural }}
        </ion-col>
        <ion-col size="2" size-sm="1">
          <ion-button icon-only fill="clear" shape="round" (click)="removeName(name.id)">
            <ion-icon name="trash" mode="md" color="medium"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
        
      